@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    @await Html.PartialAsync("PartialHead")
</head>
<body>
    <!-- Nav Bar Start -->
    @await Html.PartialAsync("PartialNavbar")
    <!-- Nav Bar End -->
    <!-- Carousel Start -->
    @await Html.PartialAsync("PartialCarousel")
    <!-- Carousel End -->
    <!-- Booking Start -->
    @await Html.PartialAsync("PartialBooking")
    <!-- Booking End -->
    <!-- About Start -->
    @await Html.PartialAsync("PartialAbout")
    <!-- About End -->
    <!-- Video Modal Start-->
    @await Html.PartialAsync("PartialVideoModal")
    <!-- Video Modal End -->
    <!-- Feature Start -->
    @await Html.PartialAsync("PartialFeature")
    <!-- Feature End -->
    <!-- Food Start -->
    @await Html.PartialAsync("PartialFoodStart")
    <!-- Food End -->
    <!-- Menu Start -->
    @await Html.PartialAsync("PartialMenu")
    <!-- Menu End -->
    <!-- Team Start -->
    @await Html.PartialAsync("PartialTeam")
    <!-- Team End -->
    <!-- Testimonial Start -->
    @await Html.PartialAsync("PartialTestimonial")
    <!-- Testimonial End -->
    <!-- Contact Start -->
    @await Html.PartialAsync("PartialContact")
    <!-- Contact End -->
    <!-- Footer Start -->
    @await Html.PartialAsync("PartialFooter")
    <!-- Footer End -->
    <!-- Script Start -->
    @await Html.PartialAsync("PartialScript")
    <!-- Script End -->
</body>
</html>