<div class="testimonial">
    <div class="container">
        <div class="owl-carousel testimonials-carousel">
            <div class="testimonial-item">
                <div class="testimonial-img">
                    <img src="~/food-website-template/img/testimonial-1.jpg" alt="Image">
                </div>
                <p>
                    Lorem ipsum dolor sit amet elit. Phasel nec preti mi. Curabit facilis ornare velit non vulput
                </p>
                <h2>Yakuphan Yıldırım</h2>
                <h3>Profession</h3>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-img">
                    <img src="~/food-website-template/img/testimonial-2.jpg" alt="Image">
                </div>
                <p>
                    Lorem ipsum dolor sit amet elit. Phasel nec preti mi. Curabit facilis ornare velit non vulput
                </p>
                <h2>Client Name</h2>
                <h3>Profession</h3>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-img">
                    <img src="~/food-website-template/img/testimonial-3.jpg" alt="Image">
                </div>
                <p>
                    Lorem ipsum dolor sit amet elit. Phasel nec preti mi. Curabit facilis ornare velit non vulput
                </p>
                <h2>Client Name</h2>
                <h3>Profession</h3>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-img">
                    <img src="~/food-website-template/img/testimonial-4.jpg" alt="Image">
                </div>
                <p>
                    Lorem ipsum dolor sit amet elit. Phasel nec preti mi. Curabit facilis ornare velit non vulput
                </p>
                <h2>Client Name</h2>
                <h3>Profession</h3>
            </div>
        </div>
    </div>
</div>