<div class="carousel">
    <div class="container-fluid">
        <div class="owl-carousel">
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="~/food-website-template/img/carousel-1.jpg" alt="Image">
                </div>
                <div class="carousel-text">
                    <h1>Best <span>Quality</span> Ingredients</h1>
                    <p>
                        Lorem ipsum dolor sit amet elit. Phasellus ut mollis mauris. Vivamus egestas eleifend dui ac consequat at lectus in malesuada
                    </p>
                    <div class="carousel-btn">
                        <a class="btn custom-btn" href="">Menü</a>
                        <a class="btn custom-btn" href="">Rezervasyon</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="~/food-website-template/img/carousel-2.jpg" alt="Image">
                </div>
                <div class="carousel-text">
                    <h1>World’s <span>Best</span> Chef</h1>
                    <p>
                        Morbi sagittis turpis id suscipit feugiat. Suspendisse eu augue urna. Morbi sagittis, orci sodales varius fermentum, tortor
                    </p>
                    <div class="carousel-btn">
                        <a class="btn custom-btn" href="">View Menu</a>
                        <a class="btn custom-btn" href="">Book Table</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="~/food-website-template/img/carousel-3.jpg" alt="Image">
                </div>
                <div class="carousel-text">
                    <h1>Fastest Order <span>Delivery</span></h1>
                    <p>
                        Sed ultrices, est eget feugiat accumsan, dui nibh egestas tortor, ut rhoncus nibh ligula euismod quam. Proin pellentesque odio
                    </p>
                    <div class="carousel-btn">
                        <a class="btn custom-btn" href="">View Menu</a>
                        <a class="btn custom-btn" href="">Book Table</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>